.actionsMenu {
  margin-top: 0;
  margin-bottom: 0;
  margin-inline-start: -2px;
  margin-inline-end: 0;
}

.typeIcon,
.actionIcon {
  margin-inline-start: 3px;
  margin-inline-end: 3px;
}

richlistitem label {
  margin-inline-start: 1px;
  margin-top: 2px;
}

richlistitem {
  min-height: 22px;
}

richlistitem[appHandlerIcon="ask"],
menuitem[appHandlerIcon="ask"] {
  list-style-image: url("chrome://browser/skin/preferences/alwaysAsk.png");
}

richlistitem[appHandlerIcon="save"],
menuitem[appHandlerIcon="save"] {
  list-style-image: url("chrome://browser/skin/preferences/application.png");
}

richlistitem[appHandlerIcon="feed"],
menuitem[appHandlerIcon="feed"] {
  list-style-image: url("chrome://browser/skin/page-livemarks.png");
}

richlistitem[appHandlerIcon="plugin"],
menuitem[appHandlerIcon="plugin"] {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
}

.actionsMenu .menulist-icon {
  margin-inline-end: 3px;
}

.actionsMenu > menupopup > menuitem > .menu-iconic-left {
  padding-inline-start: 0px;
  padding-inline-end: 2px;
}

.actionsMenu > menupopup > menuitem {
  padding-inline-start: 4px;
}
