#downloadsPanel[hasdownloads] > #emptyDownloads {
  display: none;
}

#emptyDownloads {
  padding: 10px 20px;
  max-width: 40ch;
}

#downloadsFooter {
  background-color: hsla(210,4%,10%,.04);
  box-shadow: 0 1px 0 hsla(210,4%,10%,.08) inset;
  transition-duration: 150ms;
  transition-property: background-color;
}

#downloadsFooter:hover {
  background-color: hsla(210,4%,10%,.05);
}

#downloadsFooter:hover:active {
  background-color: hsla(210,4%,10%,.1);
  box-shadow: 0 2px 0 0 hsla(210,4%,10%,.1) inset;
}

@media (-moz-os-version: windows-vista),
       (-moz-os-version: windows-win7) {
  @media (-moz-windows-default-theme) {
    #downloadsFooter {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      transition-duration: 0s;
    }

    #downloadsFooter,
    #downloadsFooter:hover,
    #downloadsFooter:hover:active {
      background-color: #f1f5fb;
      box-shadow: 0px 1px 2px rgb(204,214,234) inset;
    }
  }
}
