/************Firefox 4 Fixes, Restored Features**************/

/*Restore Feed icon */
#urlbar #feed-button,
#urlbar #feed-button:hover:active{/* > .button-box {*/
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

#urlbar #feed-button > .button-box{
display: none;
}

#urlbar #feed-button > hbox > .button-menu-dropmarker,
#urlbar #feed-button > hbox > .button-text {
  display: none;
}
	
/* Feed icon */

#tab-view-deck #urlbar-icons {
    -moz-binding: url("chrome://browser/skin/browser.xml#restore-feed-button");}

#urlbar-multiple-feed-button,
/*#urlbar-multiple-feed-button > .button-box,*/
#urlbar-single-feed-button,
/*#urlbar-single-feed-button > .button-box,*/
#urlbar #feed-button,
/*#urlbar #feed-button > .button-box,*/
#urlbar #feed-button:hover:active { /*> .button-box {*/
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}
       
#urlbar-multiple-feed-button .button-menu-dropmarker,
#urlbar-multiple-feed-button .button-text,
#urlbar-single-feed-button .button-text,
#urlbar #feed-button > hbox > .button-menu-dropmarker,
#urlbar #feed-button > hbox > .button-text {
  display: none;
}
   
#urlbar-multiple-feed-button,
#urlbar[chromedir="ltr"] #feed-button,
#urlbar[chromedir="rtl"] #feed-button {
  -moz-binding: url("chrome://global/content/bindings/button.xml#menu");
  -moz-appearance: none;
  padding: 0;
}
       
#urlbar-multiple-feed-button, 
#urlbar-single-feed-button,
#urlbar #feed-button {
  -moz-appearance: none;
  /*padding: -16px !important;*/
  background-image: none;
  /*min-height: 16px;*/
  list-style-image: url("chrome://browser/skin/feeds/feed-icons-16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#urlbar-multiple-feed-button:hover,
#urlbar-single-feed-button:hover,
#urlbar #feed-button:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

#urlbar-multiple-feed-button[open="true"],
#urlbar-single-feed-button[open="true"],
#urlbar #feed-button[open="true"],
#urlbar #feed-button:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

#urlbar-multiple-feed-button,
#urlbar-single-feed-button,
#urlbar[chromedir="ltr"] #feed-button:not([feeds]),
#urlbar[chromedir="rtl"] #feed-button:not([feeds]) {
  visibility: collapse;}

#urlbar-multiple-feed-button:not([hidden]),
#urlbar-single-feed-button:not([hidden]):not([disabled]) {
  visibility: visible !important;
}

/* Remove Pale Moon's feed icon */
#ub-feed-button {
  display: none !important;
}
